.docs {
  color: var(--foreground-muted-color);
  background: var(--panel-background-color);

  h1,h2,h3,h4,h5,h6 {
    color: var(--foreground-color);
  }

  pre {
    background-color: var(--bg-step-4);
    padding: 1em;
  }

  code {
    color: var(--foreground-color);
    background-color: var(--bg-step-4);
  }

}
