#app {
    .nav-tabs {
        display: flex;
        flex-direction: row;
        flex-shrink: 1;
        flex-wrap: nowrap !important;

        .nav-item {
            border-color: var(--colors-tab-border);
            background: var(--colors-tab-inactiveBackground);
            color: var(--colors-tab-inactiveForeground);

            a {
                color: var(--colors-tab-inactiveForeground);
            }

            .nav-link.active {
                background: var(--colors-tab-activeBackground);
                color: var(--colors-tab-activeForeground);
                border-color: var(--colors-tab-activeBorderTop);
                border-size: solid 1px;
            }

            .nav-link.button {
                border: 0;
            }
        }
    }
}
