.default {
  &.dark {
    /* Theme */
    --bg-step-1: #25252Dff;
    --bg-step-2: #2D3037ff;
    --bg-step-3: #373A43ff;
    --bg-step-4: #454753ff;
    --bg-step-5: #707078ff;

    --fg-color: #EBEFF2ff;
    --fg-color-muted-1: #CFD2D9ff;
    --fg-color-muted-2: #AEB1B8ff;
    --fg-color-pop-1: #894EEEff;
    --fg-color-pop-1-muted: #894EEE99;
    --fg-color-pop-2: #F48494ff;
    --fg-color-pop-2-muted: #F4849499;
  }

  &.light {
    --bg-step-1: #25252Dff;
    --bg-step-2: #2D3037ff;
    --bg-step-3: #373A43ff;
    --bg-step-4: #454753ff;
    --bg-step-5: #707078ff;

    --fg-color: #EBEFF2ff;
    --fg-color-muted-1: #CFD2D9ff;
    --fg-color-muted-2: #AEB1B8ff;
    --fg-color-pop-1: #894EEEff;
    --fg-color-pop-2: #F48494ff;
  }

  /* Theme Mapping */
  --background-color: var(--bg-step-1);
  --panel-background-color: var(--bg-step-2);
  --panel-background-active-color: var(--bg-step-3);
  --foreground-color: var(--fg-color);
  --foreground-muted-color: var(--fg-color-muted-1);
  --foreground-active-color: var(--fg-color-pop-1);
  --border-color: #00000055;
}

html, body, #root {
  background: var(--panel-background-color);
  color: var(--foreground-color);
  height: 100vh;
  overflow: hidden;
}
#root {
  padding-top: 42px;
}
