html, body, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;;
}


#app {
	height:100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align:stretch;
}

#header {
	height:42px;
	overflow-y: hidden;
	overflow-x: auto;
}

#footer {
	/*height:30px;*/
}

#content {
	-webkit-box-flex:1;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align:stretch;
}

#sidebar { width:120px; }

#main {
	-webkit-box-flex:1;
	overflow: scroll;
}

/* https://github.com/twbs/icons/issues/82#issuecomment-841772780 */
svg, svg.bi {vertical-align: -0.125em;}

blockquote {
	background: var(--theme-focus-bg);
	color: var(--theme-focus-color);
    border-left: 8px solid var(--theme-focus-color);
	padding: 1em;
}
blockquote p {
	padding-bottom: 0;
	margin-bottom: 0;
}
