
  .ayu-light-bordered {
    --syntax-tag: #55b4d4;
    --syntax-func: #f2ae49;
    --syntax-entity: #399ee6;
    --syntax-string: #86b300;
    --syntax-regexp: #4cbf99;
    --syntax-markup: #f07171;
    --syntax-keyword: #fa8d3e;
    --syntax-special: #e6ba7e;
    --syntax-comment: #787b8099;
    --syntax-constant: #a37acc;
    --syntax-operator: #ed9366;
    --vcs-added: #6cbf43;
    --vcs-modified: #478acc;
    --vcs-removed: #ff7383;
    --colors-focusBorder: #ffaa33b3;
    --colors-foreground: #8a9199;
    --colors-widget-shadow: #00000026;
    --colors-selection-background: #035bd626;
    --colors-icon-foreground: #8a9199;
    --colors-errorForeground: #e65050;
    --colors-descriptionForeground: #8a9199;
    --colors-textBlockQuote-background: #f3f4f5;
    --colors-textLink-foreground: #ffaa33;
    --colors-textLink-activeForeground: #ffaa33;
    --colors-textPreformat-foreground: #5c6166;
    --colors-button-background: #ffaa33;
    --colors-button-foreground: #f8f9fa;
    --colors-button-hoverBackground: #f9a52e;
    --colors-button-secondaryBackground: #8a919933;
    --colors-button-secondaryForeground: #5c6166;
    --colors-button-secondaryHoverBackground: #8a919980;
    --colors-dropdown-background: #fcfcfc;
    --colors-dropdown-foreground: #8a9199;
    --colors-dropdown-border: #8a919945;
    --colors-input-background: #fcfcfc;
    --colors-input-border: #8a919945;
    --colors-input-foreground: #5c6166;
    --colors-input-placeholderForeground: #8a919980;
    --colors-inputOption-activeBorder: #f4a0284d;
    --colors-inputOption-activeBackground: #ffaa3333;
    --colors-inputOption-activeForeground: #f4a028;
    --colors-inputValidation-errorBackground: #fcfcfc;
    --colors-inputValidation-errorBorder: #e65050;
    --colors-inputValidation-infoBackground: #f8f9fa;
    --colors-inputValidation-infoBorder: #55b4d4;
    --colors-inputValidation-warningBackground: #f8f9fa;
    --colors-inputValidation-warningBorder: #f2ae49;
    --colors-scrollbar-shadow: #6b7d8f00;
    --colors-scrollbarSlider-background: #8a919966;
    --colors-scrollbarSlider-hoverBackground: #8a919999;
    --colors-scrollbarSlider-activeBackground: #8a9199b3;
    --colors-badge-background: #ffaa3333;
    --colors-badge-foreground: #f4a028;
    --colors-progressBar-background: #ffaa33;
    --colors-list-activeSelectionBackground: #56728f1f;
    --colors-list-activeSelectionForeground: #5c6166;
    --colors-list-focusBackground: #56728f1f;
    --colors-list-focusForeground: #5c6166;
    --colors-list-focusOutline: #56728f1f;
    --colors-list-highlightForeground: #ffaa33;
    --colors-list-deemphasizedForeground: #e65050;
    --colors-list-hoverBackground: #56728f1f;
    --colors-list-inactiveSelectionBackground: #6b7d8f1f;
    --colors-list-inactiveSelectionForeground: #8a9199;
    --colors-list-invalidItemForeground: #8a91994d;
    --colors-list-errorForeground: #e65050;
    --colors-tree-indentGuidesStroke: #8a919959;
    --colors-listFilterWidget-background: #f3f4f5;
    --colors-listFilterWidget-outline: #ffaa33;
    --colors-listFilterWidget-noMatchesOutline: #e65050;
    --colors-list-filterMatchBackground: #8f30efcc;
    --colors-list-filterMatchBorder: #9f40ffcc;
    --colors-activityBar-background: #fcfcfc;
    --colors-activityBar-foreground: #8a9199cc;
    --colors-activityBar-inactiveForeground: #8a919999;
    --colors-activityBar-border: #6b7d8f1f;
    --colors-activityBar-activeBorder: #ffaa33b3;
    --colors-activityBarBadge-background: #ffaa33;
    --colors-activityBarBadge-foreground: #f8f9fa;
    --colors-sideBar-background: #f8f9fa;
    --colors-sideBar-border: #6b7d8f1f;
    --colors-sideBarTitle-foreground: #8a9199;
    --colors-sideBarSectionHeader-background: #f8f9fa;
    --colors-sideBarSectionHeader-foreground: #8a9199;
    --colors-sideBarSectionHeader-border: #6b7d8f1f;
    --colors-minimap-background: #fcfcfc;
    --colors-minimap-selectionHighlight: #035bd626;
    --colors-minimap-errorHighlight: #e65050;
    --colors-minimap-findMatchHighlight: #9f40ff2b;
    --colors-minimapGutter-addedBackground: #6cbf43;
    --colors-minimapGutter-modifiedBackground: #478acc;
    --colors-minimapGutter-deletedBackground: #ff7383;
    --colors-editorGroup-border: #6b7d8f1f;
    --colors-editorGroup-background: #f3f4f5;
    --colors-editorGroupHeader-noTabsBackground: #f8f9fa;
    --colors-editorGroupHeader-tabsBackground: #f8f9fa;
    --colors-editorGroupHeader-tabsBorder: #6b7d8f1f;
    --colors-tab-activeBackground: #fcfcfc;
    --colors-tab-activeForeground: #5c6166;
    --colors-tab-border: #6b7d8f1f;
    --colors-tab-activeBorder: #fcfcfc;
    --colors-tab-activeBorderTop: #ffaa33;
    --colors-tab-unfocusedActiveBorderTop: #8a9199;
    --colors-tab-inactiveBackground: #f8f9fa;
    --colors-tab-inactiveForeground: #8a9199;
    --colors-tab-unfocusedActiveForeground: #8a9199;
    --colors-tab-unfocusedInactiveForeground: #8a9199;
    --colors-editor-background: #fcfcfc;
    --colors-editor-foreground: #5c6166;
    --colors-editorLineNumber-foreground: #8a919966;
    --colors-editorLineNumber-activeForeground: #8a9199cc;
    --colors-editorCursor-foreground: #ffaa33;
    --colors-editor-inactiveSelectionBackground: #035bd612;
    --colors-editor-selectionBackground: #035bd626;
    --colors-editor-selectionHighlightBackground: #6cbf4326;
    --colors-editor-selectionHighlightBorder: #6cbf4300;
    --colors-editor-wordHighlightBackground: #478acc14;
    --colors-editor-wordHighlightStrongBackground: #6cbf4314;
    --colors-editor-wordHighlightBorder: #478acc80;
    --colors-editor-wordHighlightStrongBorder: #6cbf4380;
    --colors-editor-findMatchBackground: #9f40ff2b;
    --colors-editor-findMatchBorder: #9f40ff2b;
    --colors-editor-findMatchHighlightBackground: #9f40ffcc;
    --colors-editor-findMatchHighlightBorder: #8f30efcc;
    --colors-editor-findRangeHighlightBackground: #9f40ff40;
    --colors-editor-rangeHighlightBackground: #9f40ff33;
    --colors-editor-lineHighlightBackground: #8a91991a;
    --colors-editorLink-activeForeground: #ffaa33;
    --colors-editorWhitespace-foreground: #8a919966;
    --colors-editorIndentGuide-background: #8a91992e;
    --colors-editorIndentGuide-activeBackground: #8a919959;
    --colors-editorRuler-foreground: #8a91992e;
    --colors-editorCodeLens-foreground: #787b8099;
    --colors-editorBracketMatch-background: #8a91994d;
    --colors-editorBracketMatch-border: #8a91994d;
    --colors-editor-snippetTabstopHighlightBackground: #6cbf4333;
    --colors-editorOverviewRuler-border: #6b7d8f1f;
    --colors-editorOverviewRuler-modifiedForeground: #478acc;
    --colors-editorOverviewRuler-addedForeground: #6cbf43;
    --colors-editorOverviewRuler-deletedForeground: #ff7383;
    --colors-editorOverviewRuler-errorForeground: #e65050;
    --colors-editorOverviewRuler-warningForeground: #ffaa33;
    --colors-editorOverviewRuler-bracketMatchForeground: #8a9199b3;
    --colors-editorOverviewRuler-wordHighlightForeground: #478acc66;
    --colors-editorOverviewRuler-wordHighlightStrongForeground: #6cbf4366;
    --colors-editorOverviewRuler-findMatchForeground: #9f40ff2b;
    --colors-editorError-foreground: #e65050;
    --colors-editorWarning-foreground: #ffaa33;
    --colors-editorGutter-modifiedBackground: #478acccc;
    --colors-editorGutter-addedBackground: #6cbf43cc;
    --colors-editorGutter-deletedBackground: #ff7383cc;
    --colors-diffEditor-insertedTextBackground: #6cbf431f;
    --colors-diffEditor-removedTextBackground: #ff73831f;
    --colors-diffEditor-diagonalFill: #6b7d8f1f;
    --colors-editorWidget-background: #f8f9fa;
    --colors-editorWidget-border: #6b7d8f1f;
    --colors-editorHoverWidget-background: #f8f9fa;
    --colors-editorHoverWidget-border: #6b7d8f1f;
    --colors-editorSuggestWidget-background: #f3f4f5;
    --colors-editorSuggestWidget-border: #6b7d8f1f;
    --colors-editorSuggestWidget-highlightForeground: #ffaa33;
    --colors-editorSuggestWidget-selectedBackground: #56728f1f;
    --colors-debugExceptionWidget-border: #6b7d8f1f;
    --colors-debugExceptionWidget-background: #f3f4f5;
    --colors-editorMarkerNavigation-background: #f3f4f5;
    --colors-peekView-border: #56728f1f;
    --colors-peekViewTitle-background: #56728f1f;
    --colors-peekViewTitleDescription-foreground: #8a9199;
    --colors-peekViewTitleLabel-foreground: #5c6166;
    --colors-peekViewEditor-background: #f8f9fa;
    --colors-peekViewEditor-matchHighlightBackground: #9f40ffcc;
    --colors-peekViewEditor-matchHighlightBorder: #8f30efcc;
    --colors-peekViewResult-background: #f8f9fa;
    --colors-peekViewResult-fileForeground: #5c6166;
    --colors-peekViewResult-lineForeground: #8a9199;
    --colors-peekViewResult-matchHighlightBackground: #9f40ffcc;
    --colors-peekViewResult-selectionBackground: #56728f1f;
    --colors-panel-background: #f8f9fa;
    --colors-panel-border: #6b7d8f1f;
    --colors-panelTitle-activeBorder: #ffaa33;
    --colors-panelTitle-activeForeground: #5c6166;
    --colors-panelTitle-inactiveForeground: #8a9199;
    --colors-statusBar-background: #f8f9fa;
    --colors-statusBar-foreground: #8a9199;
    --colors-statusBar-border: #6b7d8f1f;
    --colors-statusBar-debuggingBackground: #ed9366;
    --colors-statusBar-debuggingForeground: #fcfcfc;
    --colors-statusBar-noFolderBackground: #f3f4f5;
    --colors-statusBarItem-activeBackground: #8a919933;
    --colors-statusBarItem-hoverBackground: #8a919933;
    --colors-statusBarItem-prominentBackground: #6b7d8f1f;
    --colors-statusBarItem-prominentHoverBackground: #00000030;
    --colors-statusBarItem-remoteBackground: #ffaa33;
    --colors-statusBarItem-remoteForeground: #fcfcfc;
    --colors-titleBar-activeBackground: #f8f9fa;
    --colors-titleBar-activeForeground: #5c6166;
    --colors-titleBar-inactiveBackground: #f8f9fa;
    --colors-titleBar-inactiveForeground: #8a9199;
    --colors-titleBar-border: #6b7d8f1f;
    --colors-extensionButton-prominentForeground: #fcfcfc;
    --colors-extensionButton-prominentBackground: #ffaa33;
    --colors-extensionButton-prominentHoverBackground: #f9a52e;
    --colors-pickerGroup-border: #6b7d8f1f;
    --colors-pickerGroup-foreground: #8a919980;
    --colors-debugToolBar-background: #f3f4f5;
    --colors-debugIcon-breakpointForeground: #ed9366;
    --colors-debugIcon-breakpointDisabledForeground: #ed936680;
    --colors-debugConsoleInputIcon-foreground: #ffaa33;
    --colors-welcomePage-tileBackground: #f8f9fa;
    --colors-welcomePage-tileShadow: #00000026;
    --colors-welcomePage-progress-background: #8a91991a;
    --colors-welcomePage-buttonBackground: #ffaa3366;
    --colors-walkThrough-embeddedEditorBackground: #f3f4f5;
    --colors-gitDecoration-modifiedResourceForeground: #478accb3;
    --colors-gitDecoration-deletedResourceForeground: #ff7383b3;
    --colors-gitDecoration-untrackedResourceForeground: #6cbf43b3;
    --colors-gitDecoration-ignoredResourceForeground: #8a919980;
    --colors-gitDecoration-submoduleResourceForeground: #a37accb3;
    --colors-settings-headerForeground: #5c6166;
    --colors-settings-modifiedItemIndicator: #478acc;
    --colors-keybindingLabel-background: #8a91991a;
    --colors-keybindingLabel-foreground: #5c6166;
    --colors-keybindingLabel-border: #5c61661a;
    --colors-keybindingLabel-bottomBorder: #5c61661a;
    --colors-terminal-background: #f8f9fa;
    --colors-terminal-foreground: #5c6166;
    --colors-terminal-ansiBlack: #000000;
    --colors-terminal-ansiRed: #ea6c6d;
    --colors-terminal-ansiGreen: #6cbf43;
    --colors-terminal-ansiYellow: #eca944;
    --colors-terminal-ansiBlue: #3199e1;
    --colors-terminal-ansiMagenta: #9e75c7;
    --colors-terminal-ansiCyan: #46ba94;
    --colors-terminal-ansiWhite: #c7c7c7;
    --colors-terminal-ansiBrightBlack: #686868;
    --colors-terminal-ansiBrightRed: #f07171;
    --colors-terminal-ansiBrightGreen: #86b300;
    --colors-terminal-ansiBrightYellow: #f2ae49;
    --colors-terminal-ansiBrightBlue: #399ee6;
    --colors-terminal-ansiBrightMagenta: #a37acc;
    --colors-terminal-ansiBrightCyan: #4cbf99;
    --colors-terminal-ansiBrightWhite: #d1d1d1;
    --scope-foreground: #5c6166;
    --scope-background: #f8f9fa;
    --scope-comment-foreground: #787b8099;
    --scope-string-foreground: #86b300;
    --scope-constant-other-symbol-foreground: #86b300;
    --scope-string-regexp-foreground: #4cbf99;
    --scope-constant-character-foreground: #4cbf99;
    --scope-constant-other-foreground: #4cbf99;
    --scope-constant-numeric-foreground: #a37acc;
    --scope-constant-language-foreground: #a37acc;
    --scope-variable-foreground: #5c6166;
    --scope-variable-parameter-function-call-foreground: #5c6166;
    --scope-variable-member-foreground: #f07171;
    --scope-variable-language-foreground: #55b4d4;
    --scope-storage-foreground: #fa8d3e;
    --scope-keyword-foreground: #fa8d3e;
    --scope-keyword-operator-foreground: #ed9366;
    --scope-punctuation-separator-foreground: #5c6166b3;
    --scope-punctuation-terminator-foreground: #5c6166b3;
    --scope-punctuation-section-foreground: #5c6166;
    --scope-punctuation-accessor-foreground: #ed9366;
    --scope-punctuation-definition-template-expression-foreground: #fa8d3e;
    --scope-punctuation-section-embedded-foreground: #fa8d3e;
    --scope-meta-embedded-foreground: #5c6166;
    --scope-source-java-storage-type-foreground: #399ee6;
    --scope-source-haskell-storage-type-foreground: #399ee6;
    --scope-source-c-storage-type-foreground: #399ee6;
    --scope-entity-other-inherited-class-foreground: #55b4d4;
    --scope-storage-type-function-foreground: #fa8d3e;
    --scope-source-java-storage-type-primitive-foreground: #55b4d4;
    --scope-entity-name-function-foreground: #f2ae49;
    --scope-variable-parameter-foreground: #a37acc;
    --scope-meta-parameter-foreground: #a37acc;
    --scope-variable-function-foreground: #f2ae49;
    --scope-variable-annotation-foreground: #f2ae49;
    --scope-meta-function-call-generic-foreground: #f2ae49;
    --scope-support-function-go-foreground: #f2ae49;
    --scope-support-function-foreground: #f07171;
    --scope-support-macro-foreground: #f07171;
    --scope-entity-name-import-foreground: #86b300;
    --scope-entity-name-package-foreground: #86b300;
    --scope-entity-name-foreground: #399ee6;
    --scope-entity-name-tag-foreground: #55b4d4;
    --scope-meta-tag-sgml-foreground: #55b4d4;
    --scope-support-class-component-foreground: #399ee6;
    --scope-punctuation-definition-tag-end-foreground: #55b4d480;
    --scope-punctuation-definition-tag-begin-foreground: #55b4d480;
    --scope-punctuation-definition-tag-foreground: #55b4d480;
    --scope-entity-other-attribute-name-foreground: #f2ae49;
    --scope-support-constant-foreground: #ed9366;
    --scope-support-type-foreground: #55b4d4;
    --scope-support-class-foreground: #55b4d4;
    --scope-source-go-storage-type-foreground: #55b4d4;
    --scope-meta-decorator-variable-other-foreground: #e6ba7e;
    --scope-meta-decorator-punctuation-decorator-foreground: #e6ba7e;
    --scope-storage-type-annotation-foreground: #e6ba7e;
    --scope-invalid-foreground: #e65050;
    --scope-meta-diff-foreground: #c594c5;
    --scope-meta-diff-header-foreground: #c594c5;
    --scope-source-ruby-variable-other-readwrite-foreground: #f2ae49;
    --scope-source-css-entity-name-tag-foreground: #399ee6;
    --scope-source-sass-entity-name-tag-foreground: #399ee6;
    --scope-source-scss-entity-name-tag-foreground: #399ee6;
    --scope-source-less-entity-name-tag-foreground: #399ee6;
    --scope-source-stylus-entity-name-tag-foreground: #399ee6;
    --scope-source-css-support-type-foreground: #787b8099;
    --scope-source-sass-support-type-foreground: #787b8099;
    --scope-source-scss-support-type-foreground: #787b8099;
    --scope-source-less-support-type-foreground: #787b8099;
    --scope-source-stylus-support-type-foreground: #787b8099;
    --scope-support-type-property-name-foreground: #55b4d4;
    --scope-constant-numeric-line-number-find-in-files---match-foreground: #787b8099;
    --scope-constant-numeric-line-number-match-foreground: #fa8d3e;
    --scope-entity-name-filename-find-in-files-foreground: #86b300;
    --scope-message-error-foreground: #e65050;
    --scope-markup-heading-foreground: #86b300;
    --scope-markup-heading-entity-name-foreground: #86b300;
    --scope-markup-underline-link-foreground: #55b4d4;
    --scope-string-other-link-foreground: #55b4d4;
    --scope-markup-italic-foreground: #f07171;
    --scope-markup-bold-foreground: #f07171;
    --scope-markup-raw-background: #5c616605;
    --scope-markup-raw-inline-background: #5c61660f;
    --scope-meta-separator-foreground: #787b8099;
    --scope-meta-separator-background: #5c61660f;
    --scope-markup-quote-foreground: #4cbf99;
    --scope-markup-list-punctuation-definition-list-begin-foreground: #f2ae49;
    --scope-markup-inserted-foreground: #6cbf43;
    --scope-markup-changed-foreground: #478acc;
    --scope-markup-deleted-foreground: #ff7383;
    --scope-markup-strike-foreground: #e6ba7e;
    --scope-markup-table-foreground: #55b4d4;
    --scope-markup-table-background: #5c61660f;
    --scope-text-html-markdown-markup-inline-raw-foreground: #ed9366;
    --scope-text-html-markdown-meta-dummy-line-break-foreground: #787b8099;
    --scope-text-html-markdown-meta-dummy-line-break-background: #787b8099;
    --scope-punctuation-definition-markdown-foreground: #787b8099;
    --scope-punctuation-definition-markdown-background: #5c6166;
  }  
  
  .ayu-mirage-bordered {
    --syntax-tag: #5ccfe6;
    --syntax-func: #ffd173;
    --syntax-entity: #73d0ff;
    --syntax-string: #d5ff80;
    --syntax-regexp: #95e6cb;
    --syntax-markup: #f28779;
    --syntax-keyword: #ffad66;
    --syntax-special: #ffdfb3;
    --syntax-comment: #b8cfe680;
    --syntax-constant: #dfbfff;
    --syntax-operator: #f29e74;
    --vcs-added: #87d96c;
    --vcs-modified: #80bfff;
    --vcs-removed: #f27983;
    --colors-focusBorder: #ffcc66b3;
    --colors-foreground: #707a8c;
    --colors-widget-shadow: #12151cb3;
    --colors-selection-background: #409fff40;
    --colors-icon-foreground: #707a8c;
    --colors-errorForeground: #ff6666;
    --colors-descriptionForeground: #707a8c;
    --colors-textBlockQuote-background: #1c212b;
    --colors-textLink-foreground: #ffcc66;
    --colors-textLink-activeForeground: #ffcc66;
    --colors-textPreformat-foreground: #cccac2;
    --colors-button-background: #ffcc66;
    --colors-button-foreground: #1f2430;
    --colors-button-hoverBackground: #fac761;
    --colors-button-secondaryBackground: #707a8c33;
    --colors-button-secondaryForeground: #cccac2;
    --colors-button-secondaryHoverBackground: #707a8c80;
    --colors-dropdown-background: #242936;
    --colors-dropdown-foreground: #707a8c;
    --colors-dropdown-border: #707a8c45;
    --colors-input-background: #242936;
    --colors-input-border: #707a8c45;
    --colors-input-foreground: #cccac2;
    --colors-input-placeholderForeground: #707a8c80;
    --colors-inputOption-activeBorder: #ffcc664d;
    --colors-inputOption-activeBackground: #ffcc6633;
    --colors-inputOption-activeForeground: #ffcc66;
    --colors-inputValidation-errorBackground: #242936;
    --colors-inputValidation-errorBorder: #ff6666;
    --colors-inputValidation-infoBackground: #1f2430;
    --colors-inputValidation-infoBorder: #5ccfe6;
    --colors-inputValidation-warningBackground: #1f2430;
    --colors-inputValidation-warningBorder: #ffd173;
    --colors-scrollbar-shadow: #171b2400;
    --colors-scrollbarSlider-background: #707a8c66;
    --colors-scrollbarSlider-hoverBackground: #707a8c99;
    --colors-scrollbarSlider-activeBackground: #707a8cb3;
    --colors-badge-background: #ffcc6633;
    --colors-badge-foreground: #ffcc66;
    --colors-progressBar-background: #ffcc66;
    --colors-list-activeSelectionBackground: #63759926;
    --colors-list-activeSelectionForeground: #cccac2;
    --colors-list-focusBackground: #63759926;
    --colors-list-focusForeground: #cccac2;
    --colors-list-focusOutline: #63759926;
    --colors-list-highlightForeground: #ffcc66;
    --colors-list-deemphasizedForeground: #ff6666;
    --colors-list-hoverBackground: #63759926;
    --colors-list-inactiveSelectionBackground: #69758c1f;
    --colors-list-inactiveSelectionForeground: #707a8c;
    --colors-list-invalidItemForeground: #707a8c4d;
    --colors-list-errorForeground: #ff6666;
    --colors-tree-indentGuidesStroke: #8a919959;
    --colors-listFilterWidget-background: #1c212b;
    --colors-listFilterWidget-outline: #ffcc66;
    --colors-listFilterWidget-noMatchesOutline: #ff6666;
    --colors-list-filterMatchBackground: #5c467266;
    --colors-list-filterMatchBorder: #69538066;
    --colors-activityBar-background: #242936;
    --colors-activityBar-foreground: #707a8ccc;
    --colors-activityBar-inactiveForeground: #707a8c99;
    --colors-activityBar-border: #171b24;
    --colors-activityBar-activeBorder: #ffcc66b3;
    --colors-activityBarBadge-background: #ffcc66;
    --colors-activityBarBadge-foreground: #1f2430;
    --colors-sideBar-background: #1f2430;
    --colors-sideBar-border: #171b24;
    --colors-sideBarTitle-foreground: #707a8c;
    --colors-sideBarSectionHeader-background: #1f2430;
    --colors-sideBarSectionHeader-foreground: #707a8c;
    --colors-sideBarSectionHeader-border: #171b24;
    --colors-minimap-background: #242936;
    --colors-minimap-selectionHighlight: #409fff40;
    --colors-minimap-errorHighlight: #ff6666;
    --colors-minimap-findMatchHighlight: #695380;
    --colors-minimapGutter-addedBackground: #87d96c;
    --colors-minimapGutter-modifiedBackground: #80bfff;
    --colors-minimapGutter-deletedBackground: #f27983;
    --colors-editorGroup-border: #171b24;
    --colors-editorGroup-background: #1c212b;
    --colors-editorGroupHeader-noTabsBackground: #1f2430;
    --colors-editorGroupHeader-tabsBackground: #1f2430;
    --colors-editorGroupHeader-tabsBorder: #171b24;
    --colors-tab-activeBackground: #242936;
    --colors-tab-activeForeground: #cccac2;
    --colors-tab-border: #171b24;
    --colors-tab-activeBorder: #242936;
    --colors-tab-activeBorderTop: #ffcc66;
    --colors-tab-unfocusedActiveBorderTop: #707a8c;
    --colors-tab-inactiveBackground: #1f2430;
    --colors-tab-inactiveForeground: #707a8c;
    --colors-tab-unfocusedActiveForeground: #707a8c;
    --colors-tab-unfocusedInactiveForeground: #707a8c;
    --colors-editor-background: #242936;
    --colors-editor-foreground: #cccac2;
    --colors-editorLineNumber-foreground: #8a919966;
    --colors-editorLineNumber-activeForeground: #8a9199cc;
    --colors-editorCursor-foreground: #ffcc66;
    --colors-editor-inactiveSelectionBackground: #409fff21;
    --colors-editor-selectionBackground: #409fff40;
    --colors-editor-selectionHighlightBackground: #87d96c26;
    --colors-editor-selectionHighlightBorder: #87d96c00;
    --colors-editor-wordHighlightBackground: #80bfff14;
    --colors-editor-wordHighlightStrongBackground: #87d96c14;
    --colors-editor-wordHighlightBorder: #80bfff80;
    --colors-editor-wordHighlightStrongBorder: #87d96c80;
    --colors-editor-findMatchBackground: #695380;
    --colors-editor-findMatchBorder: #695380;
    --colors-editor-findMatchHighlightBackground: #69538066;
    --colors-editor-findMatchHighlightBorder: #5c467266;
    --colors-editor-findRangeHighlightBackground: #69538040;
    --colors-editor-rangeHighlightBackground: #69538033;
    --colors-editor-lineHighlightBackground: #1a1f29;
    --colors-editorLink-activeForeground: #ffcc66;
    --colors-editorWhitespace-foreground: #8a919966;
    --colors-editorIndentGuide-background: #8a91992e;
    --colors-editorIndentGuide-activeBackground: #8a919959;
    --colors-editorRuler-foreground: #8a91992e;
    --colors-editorCodeLens-foreground: #b8cfe680;
    --colors-editorBracketMatch-background: #8a91994d;
    --colors-editorBracketMatch-border: #8a91994d;
    --colors-editor-snippetTabstopHighlightBackground: #87d96c33;
    --colors-editorOverviewRuler-border: #171b24;
    --colors-editorOverviewRuler-modifiedForeground: #80bfff;
    --colors-editorOverviewRuler-addedForeground: #87d96c;
    --colors-editorOverviewRuler-deletedForeground: #f27983;
    --colors-editorOverviewRuler-errorForeground: #ff6666;
    --colors-editorOverviewRuler-warningForeground: #ffcc66;
    --colors-editorOverviewRuler-bracketMatchForeground: #8a9199b3;
    --colors-editorOverviewRuler-wordHighlightForeground: #80bfff66;
    --colors-editorOverviewRuler-wordHighlightStrongForeground: #87d96c66;
    --colors-editorOverviewRuler-findMatchForeground: #695380;
    --colors-editorError-foreground: #ff6666;
    --colors-editorWarning-foreground: #ffcc66;
    --colors-editorGutter-modifiedBackground: #80bfffcc;
    --colors-editorGutter-addedBackground: #87d96ccc;
    --colors-editorGutter-deletedBackground: #f27983cc;
    --colors-diffEditor-insertedTextBackground: #87d96c1f;
    --colors-diffEditor-removedTextBackground: #f279831f;
    --colors-diffEditor-diagonalFill: #171b24;
    --colors-editorWidget-background: #1f2430;
    --colors-editorWidget-border: #171b24;
    --colors-editorHoverWidget-background: #1f2430;
    --colors-editorHoverWidget-border: #171b24;
    --colors-editorSuggestWidget-background: #1c212b;
    --colors-editorSuggestWidget-border: #171b24;
    --colors-editorSuggestWidget-highlightForeground: #ffcc66;
    --colors-editorSuggestWidget-selectedBackground: #63759926;
    --colors-debugExceptionWidget-border: #171b24;
    --colors-debugExceptionWidget-background: #1c212b;
    --colors-editorMarkerNavigation-background: #1c212b;
    --colors-peekView-border: #63759926;
    --colors-peekViewTitle-background: #63759926;
    --colors-peekViewTitleDescription-foreground: #707a8c;
    --colors-peekViewTitleLabel-foreground: #cccac2;
    --colors-peekViewEditor-background: #1f2430;
    --colors-peekViewEditor-matchHighlightBackground: #69538066;
    --colors-peekViewEditor-matchHighlightBorder: #5c467266;
    --colors-peekViewResult-background: #1f2430;
    --colors-peekViewResult-fileForeground: #cccac2;
    --colors-peekViewResult-lineForeground: #707a8c;
    --colors-peekViewResult-matchHighlightBackground: #69538066;
    --colors-peekViewResult-selectionBackground: #63759926;
    --colors-panel-background: #1f2430;
    --colors-panel-border: #171b24;
    --colors-panelTitle-activeBorder: #ffcc66;
    --colors-panelTitle-activeForeground: #cccac2;
    --colors-panelTitle-inactiveForeground: #707a8c;
    --colors-statusBar-background: #1f2430;
    --colors-statusBar-foreground: #707a8c;
    --colors-statusBar-border: #171b24;
    --colors-statusBar-debuggingBackground: #f29e74;
    --colors-statusBar-debuggingForeground: #242936;
    --colors-statusBar-noFolderBackground: #1c212b;
    --colors-statusBarItem-activeBackground: #707a8c33;
    --colors-statusBarItem-hoverBackground: #707a8c33;
    --colors-statusBarItem-prominentBackground: #171b24;
    --colors-statusBarItem-prominentHoverBackground: #00000030;
    --colors-statusBarItem-remoteBackground: #ffcc66;
    --colors-statusBarItem-remoteForeground: #242936;
    --colors-titleBar-activeBackground: #1f2430;
    --colors-titleBar-activeForeground: #cccac2;
    --colors-titleBar-inactiveBackground: #1f2430;
    --colors-titleBar-inactiveForeground: #707a8c;
    --colors-titleBar-border: #171b24;
    --colors-extensionButton-prominentForeground: #242936;
    --colors-extensionButton-prominentBackground: #ffcc66;
    --colors-extensionButton-prominentHoverBackground: #fac761;
    --colors-pickerGroup-border: #171b24;
    --colors-pickerGroup-foreground: #707a8c80;
    --colors-debugToolBar-background: #1c212b;
    --colors-debugIcon-breakpointForeground: #f29e74;
    --colors-debugIcon-breakpointDisabledForeground: #f29e7480;
    --colors-debugConsoleInputIcon-foreground: #ffcc66;
    --colors-welcomePage-tileBackground: #1f2430;
    --colors-welcomePage-tileShadow: #12151cb3;
    --colors-welcomePage-progress-background: #1a1f29;
    --colors-welcomePage-buttonBackground: #ffcc6666;
    --colors-walkThrough-embeddedEditorBackground: #1c212b;
    --colors-gitDecoration-modifiedResourceForeground: #80bfffb3;
    --colors-gitDecoration-deletedResourceForeground: #f27983b3;
    --colors-gitDecoration-untrackedResourceForeground: #87d96cb3;
    --colors-gitDecoration-ignoredResourceForeground: #707a8c80;
    --colors-gitDecoration-submoduleResourceForeground: #dfbfffb3;
    --colors-settings-headerForeground: #cccac2;
    --colors-settings-modifiedItemIndicator: #80bfff;
    --colors-keybindingLabel-background: #707a8c1a;
    --colors-keybindingLabel-foreground: #cccac2;
    --colors-keybindingLabel-border: #cccac21a;
    --colors-keybindingLabel-bottomBorder: #cccac21a;
    --colors-terminal-background: #1f2430;
    --colors-terminal-foreground: #cccac2;
    --colors-terminal-ansiBlack: #171b24;
    --colors-terminal-ansiRed: #ed8274;
    --colors-terminal-ansiGreen: #87d96c;
    --colors-terminal-ansiYellow: #facc6e;
    --colors-terminal-ansiBlue: #6dcbfa;
    --colors-terminal-ansiMagenta: #dabafa;
    --colors-terminal-ansiCyan: #90e1c6;
    --colors-terminal-ansiWhite: #c7c7c7;
    --colors-terminal-ansiBrightBlack: #686868;
    --colors-terminal-ansiBrightRed: #f28779;
    --colors-terminal-ansiBrightGreen: #d5ff80;
    --colors-terminal-ansiBrightYellow: #ffd173;
    --colors-terminal-ansiBrightBlue: #73d0ff;
    --colors-terminal-ansiBrightMagenta: #dfbfff;
    --colors-terminal-ansiBrightCyan: #95e6cb;
    --colors-terminal-ansiBrightWhite: #ffffff;
    --scope-foreground: #cccac2;
    --scope-background: #1f2430;
    --scope-comment-foreground: #b8cfe680;
    --scope-string-foreground: #d5ff80;
    --scope-constant-other-symbol-foreground: #d5ff80;
    --scope-string-regexp-foreground: #95e6cb;
    --scope-constant-character-foreground: #95e6cb;
    --scope-constant-other-foreground: #95e6cb;
    --scope-constant-numeric-foreground: #dfbfff;
    --scope-constant-language-foreground: #dfbfff;
    --scope-variable-foreground: #cccac2;
    --scope-variable-parameter-function-call-foreground: #cccac2;
    --scope-variable-member-foreground: #f28779;
    --scope-variable-language-foreground: #5ccfe6;
    --scope-storage-foreground: #ffad66;
    --scope-keyword-foreground: #ffad66;
    --scope-keyword-operator-foreground: #f29e74;
    --scope-punctuation-separator-foreground: #cccac2b3;
    --scope-punctuation-terminator-foreground: #cccac2b3;
    --scope-punctuation-section-foreground: #cccac2;
    --scope-punctuation-accessor-foreground: #f29e74;
    --scope-punctuation-definition-template-expression-foreground: #ffad66;
    --scope-punctuation-section-embedded-foreground: #ffad66;
    --scope-meta-embedded-foreground: #cccac2;
    --scope-source-java-storage-type-foreground: #73d0ff;
    --scope-source-haskell-storage-type-foreground: #73d0ff;
    --scope-source-c-storage-type-foreground: #73d0ff;
    --scope-entity-other-inherited-class-foreground: #5ccfe6;
    --scope-storage-type-function-foreground: #ffad66;
    --scope-source-java-storage-type-primitive-foreground: #5ccfe6;
    --scope-entity-name-function-foreground: #ffd173;
    --scope-variable-parameter-foreground: #dfbfff;
    --scope-meta-parameter-foreground: #dfbfff;
    --scope-variable-function-foreground: #ffd173;
    --scope-variable-annotation-foreground: #ffd173;
    --scope-meta-function-call-generic-foreground: #ffd173;
    --scope-support-function-go-foreground: #ffd173;
    --scope-support-function-foreground: #f28779;
    --scope-support-macro-foreground: #f28779;
    --scope-entity-name-import-foreground: #d5ff80;
    --scope-entity-name-package-foreground: #d5ff80;
    --scope-entity-name-foreground: #73d0ff;
    --scope-entity-name-tag-foreground: #5ccfe6;
    --scope-meta-tag-sgml-foreground: #5ccfe6;
    --scope-support-class-component-foreground: #73d0ff;
    --scope-punctuation-definition-tag-end-foreground: #5ccfe680;
    --scope-punctuation-definition-tag-begin-foreground: #5ccfe680;
    --scope-punctuation-definition-tag-foreground: #5ccfe680;
    --scope-entity-other-attribute-name-foreground: #ffd173;
    --scope-support-constant-foreground: #f29e74;
    --scope-support-type-foreground: #5ccfe6;
    --scope-support-class-foreground: #5ccfe6;
    --scope-source-go-storage-type-foreground: #5ccfe6;
    --scope-meta-decorator-variable-other-foreground: #ffdfb3;
    --scope-meta-decorator-punctuation-decorator-foreground: #ffdfb3;
    --scope-storage-type-annotation-foreground: #ffdfb3;
    --scope-invalid-foreground: #ff6666;
    --scope-meta-diff-foreground: #c594c5;
    --scope-meta-diff-header-foreground: #c594c5;
    --scope-source-ruby-variable-other-readwrite-foreground: #ffd173;
    --scope-source-css-entity-name-tag-foreground: #73d0ff;
    --scope-source-sass-entity-name-tag-foreground: #73d0ff;
    --scope-source-scss-entity-name-tag-foreground: #73d0ff;
    --scope-source-less-entity-name-tag-foreground: #73d0ff;
    --scope-source-stylus-entity-name-tag-foreground: #73d0ff;
    --scope-source-css-support-type-foreground: #b8cfe680;
    --scope-source-sass-support-type-foreground: #b8cfe680;
    --scope-source-scss-support-type-foreground: #b8cfe680;
    --scope-source-less-support-type-foreground: #b8cfe680;
    --scope-source-stylus-support-type-foreground: #b8cfe680;
    --scope-support-type-property-name-foreground: #5ccfe6;
    --scope-constant-numeric-line-number-find-in-files---match-foreground: #b8cfe680;
    --scope-constant-numeric-line-number-match-foreground: #ffad66;
    --scope-entity-name-filename-find-in-files-foreground: #d5ff80;
    --scope-message-error-foreground: #ff6666;
    --scope-markup-heading-foreground: #d5ff80;
    --scope-markup-heading-entity-name-foreground: #d5ff80;
    --scope-markup-underline-link-foreground: #5ccfe6;
    --scope-string-other-link-foreground: #5ccfe6;
    --scope-markup-italic-foreground: #f28779;
    --scope-markup-bold-foreground: #f28779;
    --scope-markup-raw-background: #cccac205;
    --scope-markup-raw-inline-background: #cccac20f;
    --scope-meta-separator-foreground: #b8cfe680;
    --scope-meta-separator-background: #cccac20f;
    --scope-markup-quote-foreground: #95e6cb;
    --scope-markup-list-punctuation-definition-list-begin-foreground: #ffd173;
    --scope-markup-inserted-foreground: #87d96c;
    --scope-markup-changed-foreground: #80bfff;
    --scope-markup-deleted-foreground: #f27983;
    --scope-markup-strike-foreground: #ffdfb3;
    --scope-markup-table-foreground: #5ccfe6;
    --scope-markup-table-background: #cccac20f;
    --scope-text-html-markdown-markup-inline-raw-foreground: #f29e74;
    --scope-text-html-markdown-meta-dummy-line-break-foreground: #b8cfe680;
    --scope-text-html-markdown-meta-dummy-line-break-background: #b8cfe680;
    --scope-punctuation-definition-markdown-foreground: #b8cfe680;
    --scope-punctuation-definition-markdown-background: #cccac2;
  }  
  